@page "/"
@page "/index.html"
@using NodeHostEnvironment

@inject NavigationManager UriHelper

<h1>Hello, world!</h1>

Welcome to your new app.
<br/>
You are at address: @_locationAbsolute
<br/>
We are using node <strong>@_process.versions.node</strong>,
Chrome <strong>@_process.versions.chrome</strong> and Electron <strong>@_process.versions.electron</strong>.
<br/>
We are in process @_process.pid.



@code {
    private string _locationAbsolute;
    private dynamic _process;

    [Inject]
    public IBridgeToNode Node { get; set; }

    protected override void OnInitialized()
    {
        UriHelper.LocationChanged += OnLocationChanged;
        _locationAbsolute = UriHelper.Uri;
        _process = Node.Global.require("process");
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs args)
    {
        _locationAbsolute = UriHelper.Uri;
        StateHasChanged();
    }

}
